<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="@{master}">
<head>
<title>Home</title>
</head>
<body>

	<div class="container" layout:fragment="content">
		<div class="starter-template">
			<h1 class="text-center" th:text="${mensagem}">Index</h1>
		</div>
		<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" >
	        Bem vindo admin <span sec:authentication="name"></span>
	    </div>
	    <div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" >
	        Bem vindo usuário <span sec:authentication="name"></span>
	    </div>
	</div>
	
</body>
</html>