@model RelatorioJogosDisponiveisModel
@{
    ViewBag.Title = "JogosDisponiveis";
}

<h2>Jogos Disponiveis no Estoque</h2>

@if (User.IsInRole("ADMIN"))
{
    <a class="btn btn-primary" href="~/Jogo/Manter">Cadastrar novo Jogo</a>
}


<table class="table table-striped table-bordered table-hover table-jogos">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Selo</th>
            @if (User.IsInRole("ADMIN"))
            {
                <th style="">Editar</th>
            }
            <th style="">Locar</th>
        </tr>
    </thead>

    @foreach (var jogo in Model.Jogos)
    {
        <tr>
            <td>@Html.ActionLink(jogo.Nome, "DetalhesDoJogo", "Jogo", new { id = jogo.IdJogo }, null)</td>
            <td>@jogo.Categoria</td>
            <td class="text-center">
                <div class="@jogo.Selo" ></div> 
            </td>
            @if (User.IsInRole("ADMIN"))
            {
                <td>
                    <a class="editar-jogo" href="~/Jogo/Manter/@jogo.IdJogo"></a>
                </td>
            }    
            <td>
                <a class="locar-jogo" href="~/Locacao/LocarJogo/@jogo.IdJogo"></a>
            </td>        
        </tr>
    }
</table>

Quantidade de jogos: @Model.QuantidadeTotalDeJogos <br />


