@model RelatorioJogosDisponiveisModel
@{
    ViewBag.Title = "Jogos Disponiveis";
}

<h2>Jogos Disponiveis para Locação</h2>

<table class="table table-striped table-bordered table-hover table-jogos">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Selo</th>
            <th style="">Locar</th>
        </tr>
    </thead>

    @foreach (var jogo in Model.Jogos)
    {
        <tr>
            <td>@Html.ActionLink(jogo.Nome, "DetalhesDoJogo", "Jogo", new { id = jogo.IdJogo }, null)</td>
            <td>@jogo.Categoria</td>
            <td class="text-center">
                <div class="@jogo.Selo"></div>
            </td>
            <td>
                <a class="locar-jogo" href="~/Locacao/LocarJogo/@jogo.IdJogo"></a>
            </td>
        </tr>
    }
</table>

Quantidade de jogos: @Model.QuantidadeTotalDeJogos <br />


