<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/default.css}" />
<title>Clientes</title>
</head>

<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a th:href="@{/}" class="navbar-brand">Lavanderia</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/clientes}">Clientes</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="starter-template">
			<h2>Clientes</h2>
			<a class="btn btn-primary pull-right" th:href="@{/clientes/incluir}">Adicionar</a>
		</div>

		<div th:if="${not #lists.isEmpty(clientes)}">

			<table class="table table-striped table-bordered table-hover">

				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>CPF</th>
					<th>Email</th>
					<th>Visualizar</th>
					<th>Editar</th>
					<th>Remover</th>
				</tr>
				<tr th:each="cliente : ${clientes}">
					<td th:text="${cliente.id}"><a
						th:href="@{|/clientes/${cliente.id}|}"></a></td>
					<td th:text="${cliente.nome}"></td>
					<td th:text="${cliente.cpf}"></td>
					<td th:text="${cliente.email}"></td>
					<td><a th:href="${ '/clientes/' + cliente.id}">Visualizar</a></td>
					<td><a th:href="${'/clientes/editar/' + cliente.id}">Editar</a></td>
					<td><a th:href="${'/clientes/remover/' + cliente.id}">Remover</a></td>
				</tr>
			</table>

		</div>


	</div>
</body>


<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>


</html>