<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="@{master}">
<head>
<title>Clientes</title>
</head>

<body>
	<div class="container" layout:fragment="content">
		<div class="starter-template">
			<h2>Clientes</h2>
			<a class="btn btn-primary pull-right" th:href="@{/clientes/incluir}">Adicionar</a>
		</div>

		<div th:if="${not #lists.isEmpty(clientes)}">

			<table class="table table-striped table-bordered table-hover">

				<tr>
					<th>Nome</th>
					<th>CPF</th>
					<th>Visualizar</th>
					<th>Editar</th>
					<th>Remover</th>
					<th>Situação</th>
				</tr>
				<tr th:each="cliente : ${clientes}">
					<td th:text="${cliente.nome}"></td>
					<td th:text="${cliente.cpf}"></td>
					<td><a th:href="${ '/clientes/' + cliente.id}">Visualizar</a></td>
					<td><a th:href="${'/clientes/editar/' + cliente.id}">Editar</a></td>
					<td><a th:href="${'/clientes/remover/' + cliente.id}">Remover</a></td>
					<td>
						<div th:class="${cliente.situacao}" ></div>
					</td>
				</tr>
			</table>

		</div>
	</div>
</body>
<div layout:fragment="custom-script">
	<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap-notify.js}"></script>

	<script th:inline="javascript" th:if="${mensagem}" >
		message = [[${mensagem}]];
		$.notify({
			message: message 
		},{
			type: 'success'
		});
	</script>
</div>
</html>