body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.color-white {
    color: #fff;
}

.bg-black {
    background-color: #000;
}

.fb-page {
    float: right;
}

.imagem-detalhe-jogo {
    width: 100%;
}

.imagem-selo-jogo {
    width: 32px;
}

.editar-jogo{
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background: url('Images/pencil43.png');
}

.editar-jogo:hover{
    background: url('Images/pencil43-hover.png')
}

.table-jogos{
    margin-top: 30px;
}