@model string

@if (@Model == "RPG")
{
    <div class="pull-right"><img width="40" height="40" src="~/Content/Images/rpg.png" /></div>
}
else if (@Model == "LUTA")
{
    <div class="pull-right"><img width="40" height="40" src="~/Content/Images/luta.png" /></div>
}
else if (@Model == "ESPORTE")
{
    <div class="pull-right"><img width="40" height="40" src="~/Content/Images/esporte.png" /></div>
}
else if (@Model == "AVENTURA")
{
    <div class="pull-right"><img width="40" height="40" src="~/Content/Images/aventura.png" /></div>
}
else if (@Model == "CORRIDA")
{
    <div class="pull-right"><img width="40" height="40" src="~/Content/Images/corrida.png" /></div>
}