
@{
    ViewBag.Title = "Home";
}

<h2>Bem vindo a Locadora Old School!</h2>
<p>Convidamos você, a voltar para os dias mais dourados de nossas infâncias, quando as nossas únicas preocupações eram tirar uma nota boa para não ir para a recuperação, pedir para o pai ou a mãe comprar uma fita (cartucho para o pessoal que gosta de ser correto) de um jogo que viu numa Ação Games, Videogame, SuperGame ou GamePower da vida, ficar ansioso pelo natal, aniversário e dia das crianças, esperando aquela surpresa e rezando para que não seja mais uma cueca ou uma camisa que você não vai gostar, estamos aqui para tentar relembrar das locadoras de videogame!</p>

<img class="imagem-home" src="~/images/games.jpg" alt="Lista games" />

<a class="btn-jogos" href="~/Relatorio/JogosDisponiveis" title="">Lista de Jogos</a>

